
    <header id="header" class="fixed-top">
        <div class="nav_style_main">
          <div>
            <img routerLink="/home" class="CompanyLogo" src="assets/img/logo.jpg" alt="">
          </div>
    
            <nav class="navbar navbar-expand-lg navbar-light nav_style">
              <div>
                <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                  <li class="nav-item active">
                    <a class="nav-link " routerLink="/home">Home </a>
                  </li>
                  <li><a class="nav-link " routerLink="/services">Services</a></li>
                  <li><a  class="nav-link scrollto" routerLink="/whyUs">Why Us</a></li>
                  <li><a  class="nav-link scrollto " routerLink="/quickinquiry" fragment="contact" [state]="{id:1}">Contact</a></li>
                  <li><a  class="getstarted mt-1 " routerLink="/quickinquiry" fragment="feedback"  [state]="{id:3}" >QUICK INQUIRY</a></li>
                </ul>
              </div>
            </nav>
            <!-- <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
    
              <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
              <li><a class="nav-link scrollto" href="#testimonials">Team</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              <li><a class="getstarted" routerLink="/quickinquiry" target="_blank">QUICK INQUIRY</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i> -->
        </div>
      
    </header>
    
<router-outlet  (activate)="onActivate($event)"></router-outlet>
 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Alfa Origin</h3>
          <p>
            Office number 1 <br>
            2nd floor D-739<br>
            Satellite Town Rawalpindi <br><br>
            <strong>Phone:</strong> (051) 8443375<br>
            <strong>Email:</strong> hr@alfaorigin.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/whyUs">Why Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/quickinquiry" [state]="{id:1}">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services" >Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Mobile App Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Software Testing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Digital Marketing</a></li>
            
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter footer-links">
          <h4 class="mt-3"></h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">UX/UI Design and Ideation</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">24/7 Support</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Branding</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Consultancy</a></li>
          </ul>
          <!-- <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form> -->
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Alfa Origin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/alfaorigin?s=11&t=5kdefZeQZeiCnbjeUh7Riw" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/AlfaOrigin" class="facebook"><i class="bx bxl-facebook"></i></a>
      <!-- <a href="" class="instagram"><i class="bx bxl-instagram"></i></a> -->
      <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
      <a href="https://www.linkedin.com/company/76146841/admin/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->


