
    <header id="header" class="fixed-top">
        <div class="container d-flex  justify-content-between">
    
          <div>
            <!-- <h1><a href="index.html">Alfa Origin</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
    
            <img class="CompanyLogo" src="assets/img/logo.jpg" alt="">
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
    
              <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
              <!-- <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li> -->
              <li><a class="nav-link scrollto" href="#testimonials">Team</a></li>
              <!-- <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li> -->
    
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              <li><a class="getstarted" routerLink="/quickinquiry" target="_blank">QUICK INQUIRY</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
    </header>
      <!-- End Header -->
<router-outlet></router-outlet>

<footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Alfa Origin</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->

            
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#" class="scrollto">Home</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>