
<section id="contact">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row form_mrg">

<!-- form -->
        <div class="col-lg-6  ">
          <div class="row">
            <div class="contact_tab d-flex">
              <ul class="">
                  <li>
                      <a  (click)="changeStep(1)" [ngClass]="[step==1?'activeSubMenu':'']">Contact</a>
                  </li>
                  
                  <li>
                      <a (click)="changeStep(2)" [ngClass]="[step==2?'activeSubMenu':'']">Request Quote</a>
                  </li>
                  <li>
                      <a (click)="changeStep(3)" [ngClass]="[step==3?'activeSubMenu':'']">Feedback</a>
                  </li>
              </ul>
          </div>
          </div>

          <div class="form">
            <div *ngIf="step==1" class="container bg-shadow" data-aos="fade-up">
            
              <div class="section-header">
                <h2 class="">Contact</h2>
              </div>
      
              <div class="row gx-lg-0 gy-4">
      
                <div class="col-lg-12">
                  <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" formControlName="name" class="form-control" placeholder="Your Name" required>
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="number" class="form-control" formControlName="phone" placeholder="Phone" required>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="email" class="form-control" formControlName="email" placeholder="E-mail" required>
                    </div>
                    <div class="form-group mt-3">
                      <textarea class="form-control" formControlName="message" rows="7" placeholder="Message" required></textarea>
                    </div>
                    <!-- <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div> -->
                    <div class="text-center"><button class="mb-4 mt-4 btn_send" type="submit">Send Message</button></div>
                  </form>
                </div>
                <!-- End Contact Form -->
      
              </div>
      
            </div>

            <div *ngIf="step==2"  class="container bg-shadow" data-aos="fade-up">
            
              <div class="section-header">
                <h2>Request A Quote</h2>
                <p>We would be delighted to provide you with an accurate, fixed price quotation based upon your needs.</p>
              </div>
      
              <div class="row gx-lg-0 gy-4">
      
                <div class="col-lg-12">
                  <form [formGroup]="requestQuoteForm" (ngSubmit)="submitRequestQuoteForm()">
                    <div class="row">

                      <div class="col-md-6 form-group mb-3">
                        <input type="text" formControlName="name" class="form-control" placeholder="Your Name" required>
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                       <select formControlName="service" style="width: 100%;
                       height: 38px;
                       border-radius: 4px;
                       border-color: #d9d9d9;">
                          <option class="text-muted" value="">Select the service you need</option>
                          <option value="Web App Development">Web App Development</option>
                          <option value="Mobile App Development">Mobile App Development</option>
                          <option value="Education Technology">Education Technology</option>
                          <option value="Web Scraping">Web Scraping </option>
                          <option value="Data and Artificial Intelligence">Data and Artificial Intelligence</option>
                          <option value="QA and Software Testing">QA and Software Testing</option>
                       </select>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-md-6 form-group  mb-3">
                        <input type="text" formControlName="organization" class="form-control" placeholder="Your organization" required>
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" formControlName="email" placeholder="E-mail" required>
                      </div>

                    </div>

                    <div class="form-group  mb-3">
                      <div class="col-md-12 form-group mt-3 mt-md-0">
                       <select formControlName="budget" style="width: 100%;  height: 47px;border-color: #d9d9d9;">
                          <option class="text-muted" value="">What is your budget? *</option>
                          <option value="Less than USD 50,000">Less than USD 50,000</option>
                          <option value="USD 50,000 - USD 100,000">USD 50,000 - USD 100,000</option>
                          <option value="USD 100,000 - USD 200,000">USD 100,000 - USD 200,000</option>
                          <option value="USD 200,000 - USD 500,000">USD 200,000 - USD 500,000</option>
                          
                       </select>
                      </div>
                    </div>
                      <h6>Technical information</h6>
                    <div class="form-group  mb-3">
                      <textarea class="form-control" formControlName="techInfo" rows="7" placeholder="How can we help you?" required></textarea>
                    </div>
                    <!-- <div class="form-group  mb-3">
                      <label class="text-muted">Upload file [word document, powerpoint presentation or PDF file less than 20mb]</label>
                      <input type="file" class="form-control" name="file" id="file" placeholder="file" required>
                    </div> -->

                    <div class="text-center"><button class="btn_send mb-4" type="submit">Send Message</button></div>
                  </form>
                </div>
                <!-- End Contact Form -->
      
              </div>
      
            </div>

            <div *ngIf="step==3"  class="container bg-shadow" data-aos="fade-up">
            
              <div class="section-header">
                <h2>FEEDBACK</h2>
              </div>
      
              <div class="row gx-lg-0 gy-4">
      
                <div class="col-lg-12">
                  <form [formGroup]="feedbackForm" (ngSubmit)="submitfeedbackForm()">
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Your Name" required>
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" formControlName="addressOne" placeholder="Address 1" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group  mb-3">
                        <input type="text" formControlName="addressTwo" class="form-control" placeholder="Address 2" required>
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" formControlName="city" placeholder="City" required>
                      </div>
                    </div>

                    <div class="form-group  mb-3">
                      <input type="text" class="form-control" formControlName="subject" placeholder="Subject" required>
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group  mb-3">
                        <input type="number" formControlName="phone" class="form-control" placeholder="Phone" required>
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" formControlName="email" placeholder="E-mail" required>
                      </div>
                    </div>

                    <div class="form-group  mb-3">
                      <textarea class="form-control" formControlName="feedback" rows="7" placeholder="Feedback" required></textarea>
                    </div>
                    <!-- <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div> -->
                    <div class="text-center"><button class="btn_send mb-3" type="submit">Send Message</button></div>
                  </form>
                </div>
                <!-- End Contact Form -->
      
              </div>
      
            </div>

          </div>
        </div>
<!-- map -->
<div class="col-lg-6 col-md-6 mt-5 d-flex justify-content-center align-items-center">
<div class="map mb-4 mb-lg-0 w-75">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe>
</div>
</div>

      </div>

    </div>
  </section>