<section id="contact">
  <div class="container-fluid">
    <div class="row form_mrg">
      <!-- form -->
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="contact_tab d-flex">
              <ul>
                <li>
                  <a
                    (click)="changeStep(1)"
                    [ngClass]="[step == 1 ? 'activeSubMenu' : '']"
                    routerLink="/quickinquiry"
                    fragment="contact"
                    >Contact</a
                  >
                </li>

                <li>
                  <a
                    (click)="changeStep(2)"
                    [ngClass]="[step == 2 ? 'activeSubMenu' : '']"
                    routerLink="/quickinquiry"
                    fragment="requestquote"
                    >Request Quote</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeStep(3)"
                    [ngClass]="[step == 3 ? 'activeSubMenu' : '']"
                    routerLink="/quickinquiry"
                    fragment="feedback"
                    >Feedback</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="form w-100">
            <div
              *ngIf="step == 1"
              class="container bg-shadow"
              data-aos="fade-up"
            >
              <div class="section-header">
              </div>

              <div class="row gx-lg-0 gy-4 mt-2">
                <div class="col-lg-12">
                  <form
                    [formGroup]="contactForm"
                    (ngSubmit)="submitContactForm()"
                  >
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input
                          type="text"
                          formControlName="name"
                          class="form-control"
                          placeholder="Your Name"
                          [ngClass]="{
                            'is-invalid': cf.name.touched && cf.name.errors
                          }"
                        />
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="phone"
                          placeholder="Phone"
                          [ngClass]="{
                            'is-invalid': cf.phone.touched && cf.phone.errors
                          }"
                        />
                      </div>
                    </div>

                    <div class="form-group mt-3">
                      <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="E-mail"
                        [ngClass]="{
                          'is-invalid': cf.email.touched && cf.email.errors
                        }"
                      />
                    </div>
                    <div class="form-group mt-3">
                      <textarea
                        class="form-control"
                        formControlName="message"
                        rows="7"
                        placeholder="Message"
                        [ngClass]="{
                          'is-invalid': cf.message.touched && cf.message.errors
                        }"
                      ></textarea>
                    </div>
                    <div class="text-center">
                      <button
                        class="mb-4 mt-4 btn btn_send"
                        type="submit"
                        [disabled]="contactForm.invalid"
                      >
                        Send Message
                      </button>
                    </div>
                  </form>
                </div>
                <!-- End Contact Form -->
              </div>
            </div>

            <div
              *ngIf="step == 2"
              class="container bg-shadow"
              data-aos="fade-up"
            >
              <div class="section-header">
              </div>

              <div class="row gx-lg-0 gy-4 mt-2">
                <div class="col-lg-12">
                  <form
                    [formGroup]="requestQuoteForm"
                    (ngSubmit)="submitRequestQuoteForm()"
                  >
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <input
                          type="text"
                          formControlName="name"
                          class="form-control"
                          placeholder="Your Name"
                          [ngClass]="{
                            'is-invalid': rf.name.touched && rf.name.errors
                          }"
                        />
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <select
                          formControlName="service"
                          style="
                            width: 100%;
                            height: 38px;
                            border-radius: 4px;
                            border-color: #d9d9d9;
                            color: grey;
                            font-size: 16px;
                          "
                          [ngClass]="{
                            'is-invalid':
                              rf.service.touched && rf.service.errors
                          }"
                        >
                          <option class="text-muted" value="select">
                            Select the service you need
                          </option>
                          <option value="Web Development">
                            Web Development
                          </option>
                          <option value="Mobile App Development">
                            Mobile App Development
                          </option>
                          <option value="Software Testing">
                            Software Testing
                          </option>
                          <option value="Digital Marketing">
                            Digital Marketing
                          </option>
                          <option value="UX/UI Design and Ideation">
                            UX/UI Design and Ideation
                          </option>
                          <option value="24/7 Support">24/7 Support</option>
                          <option value="Branding">Branding</option>
                          <option value="Consultancy">Consultancy</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <input
                          type="text"
                          formControlName="organization"
                          class="form-control"
                          placeholder="Your organization"
                          [ngClass]="{
                            'is-invalid':
                              rf.organization.touched && rf.organization.errors
                          }"
                        />
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                          placeholder="E-mail"
                          [ngClass]="{
                            'is-invalid': rf.email.touched && rf.email.errors
                          }"
                        />
                      </div>
                    </div>

                    <div class="form-group mb-3 p-0">
                      <div class="col-md-12 form-group p-0">
                        <select
                          formControlName="budget"
                          style="
                            width: 100%;
                            height: 38px;
                            border-radius: 4px;
                            border-color: #d9d9d9;
                            color: grey;
                            font-size: 16px;
                          "
                          [ngClass]="{
                            'is-invalid': rf.budget.touched && rf.budget.errors
                          }"
                        >
                          <option class="text-muted" value="budget">
                            What is your budget
                          </option>
                          <option value="Less than USD 50,000">
                            Less than USD 50,000
                          </option>
                          <option value="USD 50,000 - USD 100,000">
                            USD 50,000 - USD 100,000
                          </option>
                          <option value="USD 100,000 - USD 200,000">
                            USD 100,000 - USD 200,000
                          </option>
                          <option value="USD 200,000 - USD 500,000">
                            USD 200,000 - USD 500,000
                          </option>
                        </select>
                      </div>
                    </div>
                    <h6>Technical information</h6>
                    <div class="form-group mb-3">
                      <textarea
                        class="form-control"
                        formControlName="techInfo"
                        rows="7"
                        placeholder="How can we help you?"
                        [ngClass]="{
                          'is-invalid':
                            rf.techInfo.touched && rf.techInfo.errors
                        }"
                      ></textarea>
                    </div>
                    <div class="text-center">
                      <button
                        class="btn_send mb-4 btn"
                        type="submit"
                        [disabled]="requestQuoteForm.invalid"
                      >
                        Send Message
                      </button>
                    </div>
                  </form>
                </div>
                <!-- End Contact Form -->
              </div>
            </div>

            <div
              *ngIf="step == 3"
              class="container bg-shadow"
              data-aos="fade-up"
            >
              <div class="section-header">
              </div>

              <div class="row gx-lg-0 gy-4 mt-2">
                <div class="col-lg-12">
                  <form
                    [formGroup]="feedbackForm"
                    (ngSubmit)="submitfeedbackForm()"
                  >
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <input
                          type="text"
                          formControlName="name"
                          class="form-control"
                          id="name"
                          placeholder="Your Name"
                          [ngClass]="{
                            'is-invalid': ff.name.touched && ff.name.errors
                          }"
                        />
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="address"
                          placeholder="Address"
                          [ngClass]="{
                            'is-invalid':
                              ff.address.touched && ff.address.errors
                          }"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <input
                          type="text"
                          formControlName="city"
                          class="form-control"
                          placeholder="City"
                          [ngClass]="{
                            'is-invalid': ff.city.touched && ff.city.errors
                          }"
                        />
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="country"
                          placeholder="Country"
                          [ngClass]="{
                            'is-invalid':
                              ff.country.touched && ff.country.errors
                          }"
                        />
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="subject"
                        placeholder="Subject"
                        [ngClass]="{
                          'is-invalid': ff.subject.touched && ff.subject.errors
                        }"
                      />
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <input
                          type="text"
                          formControlName="phone"
                          class="form-control"
                          placeholder="Phone"
                          [ngClass]="{
                            'is-invalid': ff.phone.touched && ff.phone.errors
                          }"
                        />
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                          placeholder="E-mail"
                          [ngClass]="{
                            'is-invalid': ff.email.touched && ff.email.errors
                          }"
                        />
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <textarea
                        class="form-control"
                        formControlName="feedback"
                        rows="7"
                        placeholder="Feedback"
                        [ngClass]="{
                          'is-invalid':
                            ff.feedback.touched && ff.feedback.errors
                        }"
                      >
                      </textarea>
                    </div>
                    <div class="text-center">
                      <button
                        class="btn_send mb-3 btn"
                        type="submit"
                        [disabled]="feedbackForm.invalid"
                      >
                        Send Message
                      </button>
                    </div>
                  </form>
                </div>
                <!-- End Contact Form -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.6493505241006!2d73.0663574!3d33.640332799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df955bd6c68671%3A0xf1be5ab5c36c09b1!2sAlfaOrigin!5e0!3m2!1sen!2s!4v1675968009790!5m2!1sen!2s"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
