<!-- ======= About Section ======= -->
<section class="mmm" id="about">
  <div class="container col-lg-10">
    <header class="section-header">
      <div class="section-title">
        <h2 class="mb-5 mt-4">Why Us</h2>
        <p>
          Our goal is to not only meet, but exceed the expectations of our
          clients. We strive to establish long-term relationships with our
          clients, built on trust and a history of successful projects.
        </p>
      </div>
    </header>

    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Agile Development Lifecycle</a></h4>
          <p class="description">
            We use agile development methodology, enabling us to adapt to
            changes and ensure that our clients are informed every step of the
            way. Iterative development with prototypes enable us to take client
            feedback, and incorporate changes accordingly.
          </p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Project Planing</a></h4>
          <p class="description">
            Our project managers work closely with our clients to establish
            clear timelines and milestones for each project. They then work with
            our development team to create a detailed project plan that outlines
            the tasks, dependencies, and resources required to deliver the
            project on time.
          </p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Economical Solutions</a></h4>
          <p class="description">
            Here we understand that cost can be a major concern for our clients.
            That's why we strive to provide economical software solutions that
            deliver maximum value for your investment.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 background order-lg-2 d-flex justify-content-center ">
        <img
          src="../../assets/img/why/Why us 2 (1).svg"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6" data-aos="fade-right">
        <img
          src="../../assets/img/why/about-extra-1.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0">
        <h4>We Care For You</h4>
        <p>
          We stay up-to-date with the latest technologies and industry trends to
          ensure that we are providing our clients with the most advanced
          solutions available. Our developers are skilled in a variety of
          programming languages and frameworks.
        </p>
        <p>
          Our project management process is designed to be transparent and
          efficient, ensuring that our clients are engaged in development
          process. We work closely with our clients to understand their specific
          requirements and tailor our solutions accordingly.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>Team</strong></h2>
      <p>
        Our team constitutes of highly proficient and skilled members, when it
        comes to development our team is second to none.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <div class="team_img">
              <img
                src="../../assets/img/team/qasm1.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="member-info">
            <h4>Qasim Niazi</h4>
            <span>Chief Executive Officer</span>
            <p>
              More than 7 years of experience in the IT industry, smart
              understanding of business and products with excellent technical
              knowledge.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <div class="team_img">
              <img
                src="../../assets/img/team/hashir.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="member-info">
            <h4>Ashir Ali Khan</h4>
            <span>CTO</span>
            <p>
              Over 5 years of experience in the software development,
              well-equipped to lead team in delivering top-notch software
              solutions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <div class="team_img">
              <img
                src="../../assets/img/team/umair.jpeg"
                height="800"
                width="400"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="member-info">
            <h4>Umair Ilyas</h4>
            <span>Project Manager</span>
            <p>
              Experienced professional dedicated to ensuring that our projects
              are delivered on time and within budget.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <div class="team_img">
              <img
                src="../../assets/img/team/sadia.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <div class="member-info">
            <h4>Sadia</h4>
            <span>HR Manager</span>
            <p>
              Experienced in change management, and leading change initiatives
              within organization accompanied with good communication skills.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
