<p class="mmm">services works!</p>
<section>
  <div class="hello">
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-12 top_heading">
        <h1>Software Development</h1>
        <img
          loading="lazy"
          class="background"
          src="assets/img/services/Services.svg"
          alt="Aleq"
        />
        <p>
          Power your business with our robust, <br> secure and scalable solutions.
        </p>
      </div>
    </div>
  </div>

  <section class="pricing">
    <div class="">
      <div class="section-title">
        <h2>Off-the-shelf Software Solutions for Your Business</h2>
        <p id="ourservices">
          We provide top-notch software solutions as a recognised leader in the
          software development industry and a digital partner to multinational
          corporations and start-ups. All phases of software development, from
          conception to delivery to security and maintenance, are covered by our
          software services. Our worldwide dispersed network of experienced
          talent is qualified to produce quick and reliable solutions, whether
          it be through the customization of an existing platform, the creation
          of prototype apps, or the design and implementation of complex
          technology solutions for businesses.
        </p>
      </div>
    </div>
  </section>

<!-- new services -->
<section class="section-title">
<div class="main">
  <div class="section-title">
    <h2 class="text-center">OUR SERVICES</h2>
  </div>
  <div class="services_bar">
<!-- left -->
    <div class="service_bar_s">
      <div class="row service_left">
        <div class="bar_img col-xl-3 col-lg-4 col-md-12">
          <img
            src="assets/img/loti/UI UX 1.svg"
            alt="logo"
          />
        </div>
        <div class="col-xl-7 col-lg-6 col-md-12 content_div">
          <h4 class="text-start">Web Development</h4>
          <p>
            Our consultants categorise and rank business objectives, examine current resources and infrastructure, and develop a roadmap for software delivery and monitoring services. We collaborate with our clients to plan and develop software that is tailored to their unique needs and offers real, long-term value as a trusted digital partner.
          </p>
        </div>
      </div>
    </div>
<!-- right -->
    <div class="service_bar_r">
      <div class="row service_left">
        
        <div class="col-xl-8 col-lg-6 col-md-12 content_div_r">
          <h4 class="mob">Mobile App Development</h4>
          <p>
            Our solid technical skills and broad involvement with full-stack advancement permit us to convey upgraded, versatile and secure solutions and applications. We are skilled in Front-End development, Middleware Reconciliation, Back-End development, DevOps, and guarantee that each release we discharge is of first-rate quality.
          </p>
        </div>
        <div class="bar_img_r col-xl-4 col-lg-6 col-md-12">
          <img
            src="assets/img/loti/UI UX 1.svg"
            alt="logo"
          />
        </div>
      </div>
    </div>

  </div>
  <div class="services_bar">
    <!-- left -->
        <div class="service_bar_s">
          <div class="row service_left">
            <div class="bar_img col-xl-3 col-lg-4 col-md-12">
              <img
                src="assets/img/loti/UI UX 1.svg"
                alt="logo"
              />
            </div>
            <div class="col-xl-7 col-lg-6 col-md-12 content_div">
              <h4 class="text-start">Software Testing</h4>
              <p>
                Our international team of consultants, engineers, and designers creates successful Minimum Viable Products (MVPs) to quickly launch and evaluate prototypes and accelerate the introduction of new products to the market. Our unique Lean Product Accelerator (Trade Mark) methodology, based on agile mindset and design thinking, is a surefire solution to guarantee quick and intelligent software product creation.
              </p>
            </div>
          </div>
        </div>
    <!-- right -->
        <div class="service_bar_r">
          <div class="row service_left">
            
            <div class="col-xl-8 col-lg-6 col-md-12 content_div_r">
              <h4 class="degi">Digital Marketing</h4>
              <p>
                We provide a wide range of services as a top mobile app development company to meet all of your mobility needs. Our strong and adaptable frameworks are reliable, and expedite time to market, regardless of whether a product is based on native app development, hybrid development, mobile games, wearable technology, blockchain, or AI-ML.
              </p>
            </div>
            <div class="bar_img_r col-xl-4 col-lg-6 col-md-12">
              <img
                src="assets/img/loti/UI UX 1.svg"
                alt="logo"
              />
            </div>
          </div>
        </div>
    
  </div>
  <div class="services_bar">
        <!-- left -->
            <div class="service_bar_s">
              <div class="row service_left">
                <div class="bar_img col-xl-3 col-lg-4 col-md-12">
                  <img
                    src="assets/img/loti/UI UX 1.svg"
                    alt="logo"
                  />
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12 content_div">
                  <h4 class="text-start">UX/UI Design and Ideation</h4>
                  <p>
                    By analysing each company's particular business and technological requirements, we help firms modernise by offering data-driven, practical insights and solutions. We assist companies in rethinking their tech environment and maximising their return on investment, whether it be by rehosting, restructuring, rearchitecting, rebuilding, or a mix of these.
                  </p>
                </div>
              </div>
            </div>
        <!-- right -->
            <div class="service_bar_r">
              <div class="row service_left">
                
                <div class="col-xl-8 col-lg-6 col-md-12 content_div_r">
                  <h4 class="sup">24/7 Support</h4>
                  <p>
                    To smoothly integrate custom software with internal and external company systems and services, we use agile, API-driven development. This maximises uptime, scalability, and flexibility. Using this strategy, we guarantee to increase automation across the entire organization and enable integration with a number of software systems and subsystems.
                  </p>
                </div>
                <div class="bar_img_r col-xl-4 col-lg-6 col-md-12">
                  <img
                    src="assets/img/loti/UI UX 1.svg"
                    alt="logo"
                  />
                </div>
              </div>
            </div>
        
   </div>
   <div class="services_bar">
      <!-- left -->
          <div class="service_bar_s">
            <div class="row service_left">
              <div class="bar_img col-xl-3 col-lg-4 col-md-12">
                <img
                  src="assets/img/loti/UI UX 1.svg"
                  alt="logo"
                />
              </div>
              <div class="col-xl-7 col-lg-6 col-md-12 content_div">
                <h4 class="text-start">Branding</h4>
                <p>
                  Our highly qualified and experienced cloud specialists offer end-to-end services that address all facets of implementing cloud applications, from cloud application consulting to cloud application development and testing, cloud application security services, cloud application integration with other cloud and on-premises apps, and cloud infrastructure management.
                </p>
              </div>
            </div>
          </div>
      <!-- right -->
          <div class="service_bar_r">
            <div class="row service_left">
              
              <div class="col-xl-8 col-lg-6 col-md-12 content_div_r">
                <h4 class="cons">Consultancy</h4>
                <p>
                  Our devoted UX/UI teams have years of experience in animation design, interface architecture, root cause analysis, thorough post-analysis, and many other areas. We incorporate a design-thinking approach and ensure that UX and technical requirements go hand in hand, with no trade-off of one at the expense of the other.
                </p>
              </div>
              <div class="bar_img_r col-xl-4 col-lg-6 col-md-12">
                <img
                  src="assets/img/loti/UI UX 1.svg"
                  alt="logo"
                />
              </div>
            </div>
          </div>
      
   </div>
</div>
</section>


  <!-- operating system -->
  <section>
    <!-- 2 -->
    <div class="containers">
      <div class="row d-flex mt-5 align-items-center">
        <div class="col-lg-12 col-md-12 content_div text-center">
          <h4>Offshore Software Development</h4>
          <p>
            We can help your business to get to the next level with cost
            effective and high quality offshore software development services.
            By getting our offshore services you will have benefits including:
            <br><br>
            <li>
              Access to a wider pool of skilled and experienced developers.
            </li>
            <li>
              Increased scalability, allowing companies to quickly and easily
              expand.
            </li>
            <li>
              Focus on business while the development team handles all
              aspects of development.
            </li>
            <li>
              Access development methodologies will help
              companies stay ahead in competition.
            </li>
            <li>
              Cultural diversity brings a new perspective and diversity to the
              development process.
            </li>
          </p>
        </div>
        <!-- <div class="col-lg-6 col-md-12 mt-5 text-center">
          <img
            class="operating_user"
            src="https://10pearls.com/wp-content/uploads/2022/12/offshore-sd-img-1024x696.webp"
            alt="logo"
          />
        </div> -->
      </div>
    </div>

  </section>
  <!-- tools -->
  <section data-aos="fade-up" data-aos-delay="200">
    <div class="containers">
      <div class="row">
        <div class="section-title">
          <h2 class="text-center">Tools and Technologies</h2>
        </div>

        <div class="bar col-lg-12 col-md-12">
          <div class="bar_section d-flex bg-light justify-content-center">
            <div class="bar_itmes">
              <a
                (click)="isClickedTool(1)"
                [ngClass]="[isclickedtool == 1 ? 'isclickedtool' : '']"
                >Platforms & Frameworks</a
              >
            </div>
            <div class="bar_itmes">
              <a
                (click)="isClickedTool(2)"
                [ngClass]="[isclickedtool == 2 ? 'isclickedtool' : '']"
                >Programming Languages</a
              >
            </div>
            <div class="bar_itmes">
              <a
                (click)="isClickedTool(3)"
                [ngClass]="[isclickedtool == 3 ? 'isclickedtool' : '']"
                >Database & Reporting</a
              >
            </div>
          </div>
          <!-- frameWorks -->
          <div class="bar_box" *ngIf="isclickedtool == 1">
            <ul>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/adobe-aem-logo.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/Amazon_Web@3x.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/android-studio-2.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/angular-seeklogo-com.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/Kotlin_logo-1.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/microsoft-azure-logo.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/ms-dynamics-logo2.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/reactjs-ar-21-copy.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/Ruby_on_Rails-Logo.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/sd-micrsoft.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/tools/sharepoint-1.svg"
                    alt=""
                  />
                </div>
              </li>
            </ul>
          </div>
          <!-- programming language -->
          <div class="bar_box" *ngIf="isclickedtool == 2">
            <ul>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/2048px-Unofficial_JavaScript_logo_2.svg-1.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/golang-logo-1.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/Group-726.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/Java_programming_language_logo_3x.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/Microsoft_.NET_logo@3x.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/new-php-logo.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/Nodejs_logo@3x.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/objectivec-icon.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/python-logo-generic.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/r-language-icon.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/reactnative-logo.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/language/Swift_logo@3x.webp"
                    alt=""
                  />
                </div>
              </li>
            </ul>
          </div>
          <!-- database -->
          <div class="bar_box" *ngIf="isclickedtool == 3">
            <ul>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/aws-dynamodb.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/cassandra-logo-1.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/cognos-logo.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/hadoop.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/jasper-logo-dark.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/MongoDB_Logo_svg.webp"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/mysql-logo-ar.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/oracle-logo-ar.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/pentaho.svg"
                    alt=""
                  />
                </div>
              </li>
              <li>
                <div class="bar_box_logo">
                  <img
                    width="252"
                    height="168"
                    src="assets/img/services/database/postgresql-logo-ar.svg"
                    alt=""
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- featured -->
  <section class="bg-light" data-aos="fade-up" data-aos-delay="200">
    <div class="containers">
      <div class="row">
        <div class="section-title">
          <h2 class="text-center">Featured Industries</h2>
        </div>

        <div class="feature">
          <ul>
            <li class="fetured-ind-list-item">
              <div class="featured-ind-card">
                <span>
                  <img
                    width="41"
                    height="35"
                    src="assets/img/services/New folder/Books.svg"
                    alt=""
                  />
                </span>
                <a>Education</a>
              </div>
            </li>
            <li class="fetured-ind-list-item">
              <div class="featured-ind-card">
                <span>
                  <img
                    width="41"
                    height="35"
                    src="assets/img/services/New folder/heart-rate-icon.svg"
                    alt=""
                  />
                </span>
                <a> Healthcare</a>
              </div>
            </li>
            <li class="fetured-ind-list-item">
              <div class="featured-ind-card">
                <span>
                  <img
                    width="41"
                    height="35"
                    src="assets/img/services/New folder/dollor-icon.svg"
                    alt=""
                  />
                </span>
                <a> Finance</a>
              </div>
            </li>
            <li class="fetured-ind-list-item">
              <div class="featured-ind-card">
                <span>
                  <img
                    width="41"
                    height="35"
                    src="assets/img/services/New folder/Transport-icon.svg"
                    alt=""
                  />
                </span>
                <a>Transportation</a>
              </div>
            </li>
            <li class="fetured-ind-list-item">
              <div class="featured-ind-card">
                <span>
                  <img
                    width="41"
                    height="35"
                    src="assets/img/services/New folder/icon-label-4.svg"
                    alt=""
                  />
                </span>
                <a>Technology</a>
              </div>
            </li>
            <li class="fetured-ind-list-item">
              <div class="featured-ind-card">
                <span>
                  <img
                    width="41"
                    height="35"
                    src="assets/img/services/New folder/telecom-icon.svg"
                    alt=""
                  />
                </span>
                <a>Telecom</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
