<p class="mmm">services works!</p>

<section>
  <div class="hello">
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-12 top_heading">
        <h1>Software Development</h1>
        <p>
          Power your business with our robust, secure and scalable solutions.
        </p>
      </div>
    </div>
  </div>

  <section id="pricing" class="pricing">
    <div class="container">
      <div class="section-title">
        <h2>Off-the-shelf Software Solutions for Your Business Needs</h2>
        <p>
          We provide top-notch software solutions as a recognised leader in the
          software development industry and a digital partner to multinational
          corporations and start-ups. All phases of software development, from
          conception to delivery to security and maintenance, are covered by our
          software services. Our worldwide dispersed network of experienced
          talent is qualified to produce quick and reliable solutions, whether
          it be through the customization of an existing platform, the creation
          of prototype apps, or the design and implementation of complex
          technology solutions for businesses.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-light" data-aos="fade-up" data-aos-delay="200">
    <div class="row d-flex">
      <div class="col-md-6 text-center">
        <div class="section-title">
          <h2 class="mb-5 mt-4">Our Services</h2>
        </div>
        <div>
          <div>
            <button
              class="ms-2 service_btn me-2"
              [ngClass]="[isclicked == 1 ? 'service_btn-active' : '']"
              (click)="isClicked(1)"
            >
              Technical Consulting
            </button>
            <button
              class="ms-2 service_btn"
              [ngClass]="[isclicked == 2 ? 'service_btn-active' : '']"
              (click)="isClicked(2)"
            >
              Full Stack Development
            </button>
          </div>
          <div>
            <button
              class="ms-2 service_btn me-2"
              [ngClass]="[isclicked == 3 ? 'service_btn-active' : '']"
              (click)="isClicked(3)"
            >
              New Product Development
            </button>
            <button
              class="ms-2 service_btn"
              [ngClass]="[isclicked == 4 ? 'service_btn-active' : '']"
              (click)="isClicked(4)"
            >
              Mobile App Development
            </button>
          </div>
          <div>
            <button
              class="ms-2 service_btn me-2"
              [ngClass]="[isclicked == 5 ? 'service_btn-active' : '']"
              (click)="isClicked(5)"
            >
              Legacy and Application
            </button>
            <button
              class="ms-2 service_btn"
              [ngClass]="[isclicked == 6 ? 'service_btn-active' : '']"
              (click)="isClicked(6)"
            >
              API Development and Integration
            </button>
          </div>
          <div>
            <button
              class="ms-2 service_btn me-2"
              [ngClass]="[isclicked == 7 ? 'service_btn-active' : '']"
              (click)="isClicked(7)"
            >
              Cloud Development
            </button>
            <button
              class="ms-2 service_btn"
              [ngClass]="[isclicked == 8 ? 'service_btn-active' : '']"
              (click)="isClicked(8)"
            >
              UX/UI Design and Ideation
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div
            *ngIf="isclicked == 1"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/12/consutling-icon-wh.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">Technical Consulting</h6>
            <p class="mt-4">
              Our consultants categorise and rank business objectives, examine
              current resources and infrastructure, and develop a roadmap for
              software delivery and monitoring services. We collaborate with our
              clients to plan and develop software that is tailored to their
              unique needs and offers real, long-term value as a trusted digital
              partner.
            </p>
          </div>
          <div
            *ngIf="isclicked == 2"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/12/full-stack-wh.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">Full Stack Development</h6>
            <p class="mt-4">
              Our solid technical skills and broad involvement with full-stack
              advancement permit us to convey upgraded, versatile and secure
              solutions and applications. We are skilled in Front-End
              development, Middleware Reconciliation, Back-End development,
              DevOps, and guarantee that each release we discharge is of
              first-rate quality.
            </p>
          </div>
          <div
            *ngIf="isclicked == 3"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/09/10pdigIcons-04.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">New Product Development</h6>
            <p class="mt-4">
              Our international team of consultants, engineers, and designers
              creates successful Minimum Viable Products (MVPs) to quickly
              launch and evaluate prototypes and accelerate the introduction of
              new products to the market. Our unique Lean Product Accelerator
              (Trade Mark) methodology, based on agile mindset and design
              thinking, is a surefire solution to guarantee quick and
              intelligent software product creation.
            </p>
          </div>
          <div
            *ngIf="isclicked == 4"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/11/Vector-1.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">Mobile App Development</h6>
            <p class="mt-4">
              We provide a wide range of services as a top mobile app
              development company to meet all of your mobility needs. Our strong
              and adaptable frameworks are reliable, and expedite time to
              market, regardless of whether a product is based on native app
              development, hybrid development, mobile games, wearable
              technology, blockchain, or AI-ML.
            </p>
          </div>
          <div
            *ngIf="isclicked == 5"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/12/application-modernization-wh.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">Legacy and Application</h6>
            <p class="mt-4">
              By analysing each company's particular business and technological
              requirements, we help firms modernise by offering data-driven,
              practical insights and solutions. We assist companies in
              rethinking their tech environment and maximising their return on
              investment, whether it be by rehosting, restructuring,
              rearchitecting, rebuilding, or a mix of these.
            </p>
          </div>
          <div
            *ngIf="isclicked == 6"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/12/api-development-wh.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">API Development and Integration</h6>
            <p class="mt-4">
              To smoothly integrate custom software with internal and external
              company systems and services, we use agile, API-driven
              development. This maximises uptime, scalability, and flexibility.
              Using this strategy, we guarantee to increase automation across
              the entire organization and enable integration with a number of
              software systems and subsystems.
            </p>
          </div>
          <div
            *ngIf="isclicked == 7"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/11/cloud-migration-icon-white-2.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">Cloud Development</h6>
            <p class="mt-4">
              Our highly qualified and experienced cloud specialists offer
              end-to-end services that address all facets of implementing cloud
              applications, from cloud application consulting to cloud
              application development and testing, cloud application security
              services, cloud application integration with other cloud and
              on-premises apps, and cloud infrastructure management.
            </p>
          </div>
          <div
            *ngIf="isclicked == 8"
            class="card_body"
            data-aos="fade-left"
            data-aos-delay="30"
          >
            <img
              src="https://10pearls.com/wp-content/uploads/2022/09/10pdigIcons-02.svg"
              width="48"
              height="61"
              alt="logo"
            />
            <h6 class="mt-4">UX/UI Design and Ideation</h6>
            <p class="mt-4">
              Our devoted UX/UI teams have years of experience in animation
              design, interface architecture, root cause analysis, thorough
              post-analysis, and many other areas. We incorporate a
              design-thinking approach and ensure that UX and technical
              requirements go hand in hand, with no trade-off of one at the
              expense of the other.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <!-- 1 -->
    <div class="containers">
      <div class="section-title">
        <h2 class="text-center">Operating Models</h2>
      </div>
      <div class="row d-flex mt-5 align-items-center">
        <div class="col-lg-6 col-md-12 content_div text-center">
          <h4>Onshore Software Development</h4>
          <p>
            We specalize in providing onshore software development services to businesses of all sizes. Our team of experienced developers from our development centers
            in USA, UK, Latin America, and South Asia work closely with clients to understand their specific needs and create customized solutions that streamline processes and improve efficiency.
            Our services include Technical Consulting, Full Stack Development, New Product Development, Mobile App Development, Legacy & Application, API Development & Integration,
            Cloud Development, and UX/UI Design & Ideation. With our onshore development model, we provide clients with direct communication and easy accessibility to our team, 
            ensuring that the projects are completed on time and within budget.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mt-5 text-center">
          <img
            class="operating_user"
            src="https://10pearls.com/wp-content/uploads/2022/12/2imageOP.webp"
            alt="logo"
          />
        </div>
      </div>
    </div>

    <div class="containers bg-light">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-md-12 text-center" style="margin-top: 6%">
          <img
            class="operating_user"
            src="https://10pearls.com/wp-content/uploads/2022/12/1imageOP.webp"
            alt="logo"
          />
        </div>
        <div class="col-lg-6 col-md-12 content_div text-center">
          <h4>Nearshore Software Development</h4>
          <p>
            We also provide a development team to be available in the
            same time zone but remote. We can provide you the access to highly experienced resources who
            possess the same skills and workflow efficiencies as onshore
            resources. These resources we provide are from our development centers
            in USA, UK, Latin America, and South Asia. This will help you get a better value, geographical proximity, better time zone alignment, real-time collaborative agile
            development cycle, and more.
          </p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="containers">
      <div class="row d-flex mt-5 align-items-center">
        <div class="col-lg-6 col-md-12 content_div text-center">
          <h4>Offshore Software Development</h4>
          <p>
            We can help your business to get to the next level with cost effective and high quality offshore software development services.
            By getting our offshore services you will have benefits including:             
            -Cost savings.
            -Access to a wider pool of skilled and experienced developers.           
            -Increased scalability, allowing companies to quickly and easily expand.            
            -Flexibility in terms of working hours can benefit companies operating in different time zones and provide 24/7 support & maintenance.            
            -Focus on core business while the development team handles all aspects of software development.            
            -Access to new technologies and development methodologies will help companies stay ahead of the competition.            
            -Cultural diversity brings a new perspective and diversity to the development process, which can lead to fresh ideas and innovative solutions.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mt-5 text-center">
          <img
            class="operating_user"
            src="https://10pearls.com/wp-content/uploads/2022/12/offshore-sd-img-1024x696.webp"
            alt="logo"
          />
        </div>
      </div>
    </div>

    <div class="containers bg-light">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-md-12 text-center" style="margin-top: 6%">
          <img
            class="operating_user"
            src="https://10pearls.com/wp-content/uploads/2022/12/rightshore-sd-img-1024x696.webp"
            alt="logo"
          />
        </div>
        <div class="col-lg-6 col-md-12 content_div text-center">
          <h4>Rightshore Software Development</h4>
          <p>
            When it comes to software development, there is no one-size-fits-all approach that works for every organization. Each company must analyze their unique needs and determine
             the best model for them. In Rightshore Software Development, the project's origin or the company's business center chooses a blended shore approach. This approach involves
              keeping certain key processes, such as Project Delivery, Architecture, and UX/UI, onshore or nearshore, while outsourcing other roles, such as software development, 
              quality assurance, and DevOps, to an offshore location.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
