/* You can add global styles to this file, and also import other style files */
// .logo_img{
//     width: auto;
//     height: 60px;
// }
.CompanyLogo{
    width: 50px;
    height: 60px;
}
.info{
   padding-top: 10px;
}