.icons{
    color: #3498db;
    font-size: 48px;
    margin-bottom: 2%;
}
.slideer{
  margin-left: 2%;
}
.icon_good{
    color: #3498db;
    font-size: 48px;
    margin-bottom: 3%;
    margin-top: 10%;
}
.btn-get-started {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    // margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background-color: #3498db;
    border: 2px solid #3498db;
    cursor: pointer;
  }
.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  // .hero-img{
  //   width: 100%;
  //   height: 100%;
  // }

 //responsive 
  @media only screen and (max-width: 500px){
    .heading {
      font-size: 23px;
  }
  .para {
    font-size: 16px;
    margin-right: 5%;
    margin-left: 2%;
    text-align: center;
}
.slideer{
  margin-left: 0%;
}
.section-title h2 {
  font-size: 17px;
  margin-top: 3%;
}
.card-wrap:nth-child(odd) {
  transform: translateY(0px);
}
.team .member .member-info {
  padding: 0px 15px;
}
  }