.icons {
  color: #3498db;
  font-size: 48px;
  margin-bottom: 2%;
}
.slideer {
  margin-left: 2%;
}
.icon_good {
  color: #313436;
  font-size: 48px;
  margin-bottom: 3%;
  margin-top: 10%;
}
.prc_heading {
  font-size: 12px;
}
.btn-get-started {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background-color: #3498db;
  border: 2px solid #3498db;
  cursor: pointer;
}
.btn_read_more {
  color: #3498db;
  font-weight: bold;
}

.top_slider_img {
  height: 500px;
  width: 500px;
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.cards_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-wrap {
  background: white;
  height: 9rem;
  width: 9rem;
  margin: 1.2rem 1.4rem;
  padding: 15px;
  border-radius: 2rem;
  box-shadow: 3px 3px 4px rgb(180 167 192 / 27%), -4px -2px 4px white !important;
  position: relative;
  transition: 0.3s ease all;
}
.card-wrap:nth-child(odd) {
  transform: translateY(-20px);
}
.card-wrap p {
  font-size: 13.2px;
  line-height: 1.4;
  text-align: center;
}

//responsive
@media only screen and (max-width: 500px) {
  .top_slider {
    margin-bottom: 15%;
  }
  .top_slider_img {
    height: 300px;
    width: 300px;
  }
  .heading {
    font-size: 23px;
  }
  .para {
    font-size: 16px;
    margin-right: 7%;
    margin-left: 2%;
    text-align: left;
  }
  .slideer {
    margin-left: 0%;
  }
  .section-title h2 {
    font-size: 17px;
    margin-top: 3%;
  }
  .card-wrap:nth-child(odd) {
    transform: translateY(0px);
  }
  .team .member .member-info {
    padding: 0px 15px;
  }
}
