<section>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="row d-flex ms-4 mt-5 text-center top_slider">
        <div
          class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1 class="heading">Software Development</h1>
          <h2 class="para mt-3">
            Leading customized solutions provider! Our highly experienced
            experts use state-of-the-art technology to deliver solutions that
            cater for your business needs. We offer services in Web Development,
            Mobile Application Development & Desktop Application Development.
          </h2>
          <div>
            <a class="btn-get-started scrollto mt-3" routerLink="/quickinquiry"
              >Free Consultation</a
            >
          </div>
        </div>
        <div class="text-center col-lg-6 order-1 order-lg-2 top_slider_img">
        <dotlottie-player class="animated" autoplay loop src="../../assets/img/home-slider/software.lottie" style="width: 90%;height:75%" ></dotlottie-player>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="row d-flex ms-4 mt-5 text-center top_slider">
        <div
          class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1 class="heading">Branding</h1>
          <h2 class="para mt-3">
            Our team of branding specialists will create a branding strategy
            that incorporates everything ranging from logo design, packaging,
            strong visual identity to product taglines. We provide extensive
            market analysis to guide your business decisions.
          </h2>
          <div>
            <a class="btn-get-started scrollto mt-3" routerLink="/quickinquiry"
              >Free Consultation</a
            >
          </div>
        </div>
        <div
          class="text-center col-lg-6 order-1 order-lg-2 top_slider_img"
        >
        <dotlottie-player class="animated" autoplay loop mode="normal" src="../../assets/img/home-slider/Branding.lottie" style="width: 95%;height:75%" ></dotlottie-player>

        </div>
      </div>
    </ng-template>
    

   

    <ng-template ngbSlide>
      <div class="row d-flex ms-4 mt-5 text-center top_slider">
        <div
          class="col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1 class="heading">Consultancy</h1>
          <h2 class="para mt-3">
            We provide tehnical workforce for our clients to turn their dreams
            into reality. We are revolutionizing product devlopment, our clients
            can direct the development by monitoring, providing feedback and
            suggesting changes at development stage.
          </h2>
          <div>
            <a class="btn-get-started scrollto mt-3" routerLink="/quickinquiry"
              >Free Consultation</a
            >
          </div>
        </div>
        <div
          class="text-center col-lg-6 order-1 order-lg-2 top_slider_img"
        >
        <dotlottie-player class="animated" autoplay loop mode="normal" src="../../assets/img/home-slider/consultation.lottie" style="width: 90%;height:75%" ></dotlottie-player>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<main id="main">
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <p>From cloud to code</p>
        <h2>What we are Good At!</h2>
        <p>Providing the Best solutions For our Clients</p>
      </div>
      <div class="row">
        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
        
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img
                loading="lazy"
                  src="assets/img/loti/web-development.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">Web Development</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                Your website will be aesthetically appealing and perform
                optimally to attract users and make them your customers
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 1 }"
              >
                Read More
                <span
                  ><img loading="lazy" 
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
          
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/loti/Mobile Development.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">Mobile App Development</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                We provide your applications with responsive, interactive design
                to engage your customers
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 2 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
         
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/SEo.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">Software Testing</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                Our services include keyword research, on-page optimization,
                technical SEO , content creation, marketing, and link building
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 3 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
         
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/loti/Digital Marketig.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">Digital Marketing</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                Our services to digital marketing include, SEO optimization, PPC
                advertising, social media marketing, Email marketing and more
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 4 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/UI UX.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">UI/UX Designing</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                We seek to provide our clients best UI/UX experience by
                providing aesthetically pleasing design with cross-browser
                support
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 5 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/loti/technical-support-customer-svgrepo-com 1.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">24/7 Support</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                We provide relentless suport, and our teams are available to you
                at your convinience 24/7
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 6 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/loti/Branding.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">Branding</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                Our team of branding specialists will develop a branding
                strategy that includes everything from logo design, packaging,
                and strong visual identity
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 7 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>

        <div
          class="flip-card col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-5"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="flip-card-inner">
            <div class="flip-card-front icon_good">
              <div>
                <img loading="lazy"
                  src="assets/img/loti/Consulting.svg"
                  width="120"
                  height="120"
                  alt=""
                />
              </div>
              <h1 class="flip-heading mt-3">Consultancy</h1>
            </div>
            <div class="flip-card-back">
              <p class="p-2">
                We cover wide range of area from strategy, planning,
                implementation and optimization
              </p>
              <button
                class="btn btn_read_more"
                routerLink="/services"
                fragment="ourservices"
                [state]="{ id: 8 }"
              >
                Read More
                <span
                  ><img loading="lazy"
                    width="20"
                    src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end p-0 me-5">
      <button
        class="btn btn_read_more"
        routerLink="/quickinquiry"
        [state]="{ id: 1 }"
      >
        Free Technical Appointment
        <span
          ><img loading="lazy"
            width="20"
            src="assets/img/arrow-right-5-circle-svgrepo-com.svg"
            alt=""
        /></span>
      </button>
    </div>
  </section>
  <!-- How it Works -->
  <section id="works" class="works section-bg">
    <div
      class="container mx-auto d-flex align-items-center flex-wrap"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <!-- text -->
      <div class="text col-md-12 col-lg-6 text-lg-left">
        <div class="section-title">
          <h2>How it Works</h2>
        </div>
        <p class="">
          We have helped individuals, startups and companies in deftly
          implementing their business ideas/requirements. Our extensive
          experience has helped them to grow their businesses
        </p>
      </div>
      <div class="col-md-12 col-lg-6 cards_header">
        <div class="card-wrap">
          <div class="text-center">
            <img loading="lazy"
              src="assets/img/bulb-svgrepo-com.svg"
              width="30"
              height="30"
              alt=""
            />
          </div>
          <p class="m-0 mt-2">Tell us your needs/idea.</p>
        </div>
        <div class="card-wrap">
          <div class="text-center">
            <img loading="lazy"
              src="assets/img/process-gear-business-svgrepo-com.svg"
              width="40"
              height="40"
              alt=""
            />
          </div>
          <p class="m-0 mt-2">We will prepare an execution strategy.</p>
        </div>
        <div class="card-wrap">
          <div class="text-center">
            <img loading="lazy"
              src="assets/img//chat-svgrepo-com.svg"
              width="45"
              height="45"
              alt=""
            />
          </div>
          <p class="m-0 mt-2">Implementation using Agile model.</p>
        </div>
        <div class="card-wrap">
          <div class="text-center">
            <img loading="lazy"
              src="assets/img/graph-svgrepo-com.svg"
              width="30"
              height="30"
              alt=""
            />
          </div>
          <p class="m-0 mt-2">You get exactly what you need.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Program Benefits -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Program Benefits</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="pic"><img loading="lazy" src="" class="img-fluid" alt="" /></div>
            <div class="member-info">
              <div>
                <img loading="lazy"
                  src="assets/img/Investor.svg"
                  width="60"
                  height="60"
                  alt=""
                />
              </div>
              <h4 class="mt-2">
                Have Your first investor even before you start
              </h4>
              <p>
                Alfa Origin will begin investing in your start-up even before
                you do, joining you on your entrepreneurial path.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-lg-0">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="pic"><img loading="lazy" src="" class="img-fluid" alt="" /></div>
            <div class="member-info">
              <div>
                <img loading="lazy"
                  src="assets/img/Hardware.svg"
                  width="60"
                  height="60"
                  alt=""
                />
              </div>
              <h4 class="mt-2">Save all your hardware and software costs</h4>
              <p>
                Working with Alfa Origin allows you to avoid paying for
                necessary technical equipment and tools. We give you a product
                that is all set to use.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="pic"><img loading="lazy" src="" class="img-fluid" alt="" /></div>
            <div class="member-info">
              <div>
                <img loading="lazy"
                  src="assets/img/Team.svg"
                  width="60"
                  height="60"
                  alt=""
                />
              </div>
              <h4 class="mt-2">Have your own fully fledged technical team</h4>
              <p>
                Have a staff of your own to assist your expanding startup in all
                technical areas, such as development, infrastructure, digital
                marketing, etc.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div
            class="member d-flex align-items-start"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="pic"><img loading="lazy" src="" class="img-fluid" alt="" /></div>
            <div class="member-info">
              <div>
                <img loading="lazy"
                  src="assets/img/Mentorship.svg"
                  width="60"
                  height="60"
                  alt=""
                />
              </div>
              <h4 class="mt-2">
                Mentorship from experienced and successful leaders
              </h4>
              <p>
                A successful business will be ensured by experienced leaders who
                will serve as your mentors in all facets of the start-up
                industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our testimonials -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Testimonial</h2>
      </div>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div>
            <div
              class="testimonials-slider swiper-container"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <h3>ZAQ</h3>
                      <h4>CTO</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        The staff and management are second to none. They are
                        professional, proficient, skilled and cater for client
                        requirements in an optimal manner.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div
            class="testimonials-slider swiper-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <h3>John Larson</h3>
                    <h4>CEO</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Absolutely marvelous work, on-time delivery and very
                      cooperative support.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div
            class="testimonials-slider swiper-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <h3>Sara Wilsson</h3>
                    <h4>CTO</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      State-of-the-art interactive design, with extreme user
                      friendliness; application was delivered flawlessly.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </section>
  <!-- Pricing -->
  <section id="pricing" class="pricing">
    <div class="container">
      <div class="section-title">
        <h2>Our Pricing Plan</h2>
        <p>
          Every business should have their shot at success, so we’ve got a
          pricing plan to suit every budget. Our three models are all priced to
          suit businesses at different stages and sizes.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div
            (click)="priceCard(1)"
            [ngClass]="[card == 1 ? 'recommended' : '']"
            class="box"
            data-aos="zoom-in-right"
            data-aos-delay="200"
          >
            <h3>Early MVP</h3>
            <h4>Start-ups in early stages</h4>
            <ul>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />We manage the team
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Deliver basic MVP
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />We manage the team
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />We manage the team
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />We manage the team
              </li>
            </ul>
            <div class="btn-wrap">
              <a class="btn-buy" routerLink="/quickinquiry" [state]="{ id: 2 }"
                >Apply Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div
            (click)="priceCard(2)"
            [ngClass]="[card == 2 ? 'recommended' : '']"
            class="box"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <h3>Turn Key</h3>
            <h4>Validated Businesses</h4>
            <ul>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />We manage the team
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Deliver complete working product
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Part time CTO
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />$10-20K and 10% equity
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Equity mutually decided
              </li>
            </ul>
            <div class="btn-wrap">
              <a
                href="#"
                class="btn-buy"
                routerLink="/quickinquiry"
                [state]="{ id: 2 }"
                >Apply Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div
            (click)="priceCard(3)"
            [ngClass]="[card == 3 ? 'recommended' : '']"
            class="box"
            data-aos="zoom-in-left"
            data-aos-delay="200"
          >
            <h3>Dedicated Team</h3>
            <h4>Growing start-ups</h4>
            <ul>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />You manage the team
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Deliverable decided by you
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Project Manager
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />$3K to $20K/month and equity
              </li>
              <li class="d-flex">
                <img loading="lazy"
                  class="me-3"
                  width="20"
                  src="assets/img/success-svgrepo-com.svg"
                  alt=""
                />Equity mutually decided
              </li>
            </ul>
            <div class="btn-wrap">
              <a
                href="#"
                class="btn-buy"
                routerLink="/quickinquiry"
                [state]="{ id: 2 }"
                >Apply Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- GET IN TOUCH -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <p>Drop a Message</p>
        <h2>Get In Touch</h2>
      </div>

      <div class="row">
        <div
          class="col-lg-12 col-md-12 containersss"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="cont">
            <h3>Alfa Origin</h3>
            <p>
              Alpha Origin was shaped with the aim to convey quality products
              meeting the determinations and requirements of the clients,
              economically, in-time, in the effective & prudent manner. Our
              administration never compromises on the quality & security of the
              products. We aspire to exceed your expectation in terms of
              deliverance. We wish to grow trust with our partners and cater for
              their needs.
            </p>
          </div>
        </div>

        <div
          class="col-lg-1 col-md-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        ></div>
      </div>
    </div>
  </section>
</main>
